<div class="text-center">
  <h1>Welcome to my Zype Take Home Challenge!</h1>
  <h3>Click <%= link_to 'here', videos_path %> to view videos from Zype</h3>
  <h3>Or click the videos link above</h3>
  <h4>If you wish to see subscription based videos, you'll have to login</h4>
  <h5>The rest of this page is intentionally left blank</h5>
</div>
