@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "cerulean";

.margin-top {
  margin-top: 75px;
}

.video-thumbnail {
  margin-bottom: 50px;
}

.duration {
  background-color: #333;
  color: #fff;
  padding: 3px 6px;
  position: relative;
  top: 100px;
  right: 100px;
}
